* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Background */

body {
  background: linear-gradient(to right, #eef2ff, #fdfcfb);
  color: #222;
  line-height: 1.6;
}

/* Header */

header {
  background: linear-gradient(135deg, #6366f1, #22c55e);
  color: white;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 2.6rem;
}

.top-contact {
  margin-top: 15px;
}

.top-contact a {
  color: white;
  text-decoration: none;
}

/* Navbar */

nav {
  background: white;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

/* Links */

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #6366f1;
}

/* Sections */

section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  text-align: center;
  color: #4f46e5;
  margin-bottom: 30px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}

/* Profile Photo */

.profile-pic {
  width: 220px;
  height: 220px;

  object-fit: cover;
  object-position: center;

  border-radius: 50%;
  border: 5px solid #4f46e5;

  display: block;
  margin: 0 auto;

  background: none;
  overflow: hidden;

  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

/* Cards */

.skills,
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Footer */

footer {
  background: #020617;
  color: #aaa;
  text-align: center;
  padding: 20px;
}

/* Mobile */

@media (max-width: 768px) {

  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  nav {
    flex-wrap: wrap;
  }

}
